<div class="depot_form" >

  <%= form_for @user ,  :html => { :multipart => true }  do |f| %>

  <% if @user.errors.any? %>

  <div id="error_explanation" >
    <h2><%= pluralize(@user.errors.count, "error" ) %>
      prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <fieldset>
    <legend>Enter User Details</legend>

    <div>
      <%= f.label :name %>:
      <%= f.text_field :name, :size => 40 %>
    </div>

    <div>
      <%= f.label :password  %>:
      <%= f.password_field :password, :size => 40 %>
    </div>

    <div>
      <%= f.label :password_confirmation, 'Confirm' %>:
      <%= f.password_field :password_confirmation, :size => 40 %>
    </div>
   
     <%= f.fields_for :location do |a| %>
   
     <div>
       <%= a.label :address %>:
       <%= a.text_field :address, :size => 40 %>
     </div>

    <div>
      <%= a.label :city %>:
      <%= a.text_field :city, :size => 10 %>
    </div>

    <div>
      <%= a.label :state %>:
      <%= a.text_field :state, :size => 10 %>
    </div>
    
    <div>
      <%= a.label :country %>:
      <%= a.country_select :country, {priority: %w(US CA IN), prompt: 'Please select a country'} %>
    </div>
    
    <div>
      <%= a.label :zipcode %>:
      <%= a.text_field :zipcode, :size => 5 %>
    </div>
    
    <% end %>
    
    <div>
      <%= f.label :avatar, 'Photo' %>:
      <%= f.file_field :avatar %>
    </div>
    
    <div>
      <%= f.submit %>
    </div>
    
  </fieldset>
  
  <% end %>
</div>
