<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>

<table border="1">  
  <tr>
    <th>Product</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Cost</th>
  </tr>
  
  <%  @line_items.each do |item| %>
    <tr>
      <td><%= item.product.title %></td>  
      <td><%= item.product.price %></td>  
      <td><%= item.quantity %></td>  
      <td><%= item.quantity*item.product.price %></td>
    </tr>
   <% end %>
  <tr>
    <td> Total Price </td>
    <td><%= @total_price %>
  </tr>
</table>

<%= link_to 'Edit', edit_order_path(@order) %> |

<%= link_to 'Back', orders_path %>

